:host{
    --formBackgroundColor: #D4EBF8
}

img {
    height: 3rem;
    width: 4rem;
    align-self: center;
}

.FORM_CONTAINER {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #1F509A;
    background: var(--formBackgroundColor);
}

.LOGO_AND_HEADING{
    display: flex;
    flex-direction: column;
}

#HEADING_TEXT {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}

.INPUT_CONTAINER {
    border: 1px solid;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
}

.STATUS_ICON{
    padding: 0px 2px;
    display: inline-flex;
    color: green;
    position: absolute;
    right: 40px;
    z-index: 3;
    top: 9px;
    background-color: transparent;
}

.STATUS_ICON.not_password{
    right: 10px;
    top: 10px;
}

div.INPUT_CONTAINER:focus-within {
    border: 1px solid #433878;
    box-shadow: 0 0 3px 1px #433878;
}

input {
    outline: none;
    padding: 14px 12px;
    background-color: transparent;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    caret-color: #136409;
    border: none;
}

label{
    position: absolute;
    left: 10px;
    cursor: text;
    padding: 0px 4px;
    transition: all 0.1s linear;
}

.FOCUSED_OR_FILLED_LABEL {
    transform: translateY(-25px);
    background-color: var(--formBackgroundColor);
    font-size: 12px;
}

input::-ms-reveal{
    display: none;
}

.SUBMIT_BUTTON_CONTAINER {
    align-self: center;
}

button{
    border: none;
    cursor: pointer;
}

.SUBMIT_BUTTON_CONTAINER button {
    background-color: #433878;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    transition: all 0.1s linear;
    box-shadow: 0 0 4px #80C4E9;
    border: none;
    letter-spacing: 1px;
}


.BUTTON_DISABLED {
    opacity: .5;
    cursor: not-allowed;
}

.BUTTON_ALLOWED {
    cursor: pointer;
}

.SUBMIT_BUTTON_CONTAINER .BUTTON_ALLOWED:hover{
    box-shadow: 0 0 4px #2E236C;
}

.VISIBILITY{
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 0px 4px;
    transition: all 0.3s linear;
    z-index: 2;
    display: inline-flex;
    border-radius: 4px;
    background-color: transparent;
}

.EMAIL_MESSAGE{
    opacity: 0.7;
    font-size: 12px;
}